body{
    background-image: url("blackjack.webp");
    background-size: cover;
    color: antiquewhite;
    font-family: monospace;
    font-weight: bold;
    text-align: center;
}

h1{
    margin-top: 10px;
    margin-bottom: 10px;
}

button{
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: aliceblue;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px
}

#start-btn{
    background: goldenrod;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bolder;
    
}
#newcard-btn{
    background: goldenrod;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bolder;

}

#play-btn{
    background: goldenrod;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bolder;
}